 body{
    background-color: #eeeeee;
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container{
    background-color: #1f2949;
    max-width: 50vw;
    min-height: 60vh;
    max-height: 95vh;
    color: #ffffff;
    background-image: url("../Img/imagens/background.png");
    background-size: cover;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 1) 0 10px 50px;  
}

.search{
    padding: 4vw;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.searchInput{
    background-color: #0a1435;
    padding: 1vw;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 2vw;
    font-weight: 700;
    opacity: 0.8;
}

.searchBtn{
    background-color: #0a1435;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.magnifier{
    width: 60%;
    padding: 6px;
    opacity: 0.8;
}

.mainInf{
margin: 3vw;
}

.mainInf h1{
    font-size: 3.5vw;
}

.temp{
    font-size: 6vw ;
    margin: 20px 0;
}

.condition{
    font-size: 20px;
}

.secondaryInf{
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.humidity,.wind{
    display: flex;
    justify-content: space-between;

}

.leftInf{
    text-align: left;
}